parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
    -
            identifier: missingType.generics

    parallel:
      jobSize: 20
      maximumNumberOfProcesses: 32
      minimumNumberOfJobsPerProcess: 2
